# Loop
In Python, loops are used to execute a block of code repeatedly. There are two main types of loops: the for loop and the while loop.

In [1]:
# For Loop
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [2]:
count = 0
while count < 3:
    print("Loop iteration number:", count)
    count += 1

Loop iteration number: 0
Loop iteration number: 1
Loop iteration number: 2

### For Loop

In [1]:
multiplication_table = {}
for i in range(1, 6):
    multiplication_table[i] = [i * j for j in range(1, 6)]
for num, products in multiplication_table.items():
    print(f"Multiplication table for {num}: {products}")

Multiplication table for 1: [1, 2, 3, 4, 5]
Multiplication table for 2: [2, 4, 6, 8, 10]
Multiplication table for 3: [3, 6, 9, 12, 15]
Multiplication table for 4: [4, 8, 12, 16, 20]
Multiplication table for 5: [5, 10, 15, 20, 25]

### Continue Statement
With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [4]:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

### Range
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [5]:
for x in range(2,20,2):
  print(x)

2
4
6
8
10
12
14
16
18

In [6]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

### Nested Loop
A nested loop is a loop inside a loop.

In [7]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [13]:
week = [
    {"week": "monday", "activity": "gym"},
    {"week": "tuesday", "activity": "swimming"},
    {"week": "wednesday", "activity": "yoga"},
    {"week": "thursday", "activity": "running"},
    {"week": "friday", "activity": "cycling"},
    {"week": "saturday", "activity": "hiking"},
    {"week": "sunday", "activity": "rest"}
]
print(week)

[{'week': 'monday', 'activity': 'gym'}, {'week': 'tuesday', 'activity': 'swimming'}, {'week': 'wednesday', 'activity': 'yoga'}, {'week': 'thursday', 'activity': 'running'}, {'week': 'friday', 'activity': 'cycling'}, {'week': 'saturday', 'activity': 'hiking'}, {'week': 'sunday', 'activity': 'rest'}]

In [14]:
for val in week:
    if val['week'] == 'sun':
        print(val)
    elif val['week'] == 'monday':
        print('It is gym')
    elif val['week'] == 'mon':
        print('It is swimming')
    elif val['week'] == 'tue':
        print('It is yoga')
    elif val['week'] == 'thursday':
        print('It is act')
    else:
        print('Holidays')

It is gym
Holidays
Holidays
It is act
Holidays
Holidays
Holidays

### While Loop
With the while loop we can execute a set of statements as long as a condition is true.

In [8]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [9]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [10]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [3]:
def find_primes(max_number):
    primes = []
    number = 2

    while number <= max_number:
        is_prime = True
        for divisor in range(2, int(number ** 0.5) + 1):
            if number % divisor == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(number)
        number += 1
    return primes
max_limit = 50
prime_numbers = find_primes(max_limit)
print(f"Prime numbers up to {max_limit}: {prime_numbers}")

Prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### Lambda
A lambda function can take any number of arguments, but can only have one expression.

In [15]:
transform = lambda numbers: [x**2 for x in filter(lambda y: y % 2 == 0, numbers)]
numbers_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = transform(numbers_list)
print(result)

[4, 16, 36, 64, 100]

### Map Function
The map function in Python is used to apply a given function to each item of an iterable (like a list or tuple) and return a map object, which is an iterator.

In [16]:
student = [
    {"name": "Alice", "age": 30, "city": "New York"},
    {"name": "Bob", "age": 25, "city": "Los Angeles"},
    {"name": "Charlie", "age": 35, "city": "Chicago"},
    {"name": "David", "age": 28, "city": "New York"},
    {"name": "Eve", "age": 22, "city": "Los Angeles"}
]
print(student)

[{'name': 'Alice', 'age': 30, 'city': 'New York'}, {'name': 'Bob', 'age': 25, 'city': 'Los Angeles'}, {'name': 'Charlie', 'age': 35, 'city': 'Chicago'}, {'name': 'David', 'age': 28, 'city': 'New York'}, {'name': 'Eve', 'age': 22, 'city': 'Los Angeles'}]

In [17]:
up = list(map(lambda person: person['name'].upper(), student))
print(up)
lp = list(map(lambda person: person['city'].lower(), student))
print(lp)

['ALICE', 'BOB', 'CHARLIE', 'DAVID', 'EVE']
['new york', 'los angeles', 'chicago', 'new york', 'los angeles']

### Filter Function
The filter() function in Python is used to create an iterator from elements of an iterable for which a function returns true. In other words, it filters out the items that do not satisfy a given condition

In [19]:
op = list(filter(lambda person: person['age'] >= 30, student))
print(op)
print()
c1 = list(filter(lambda person: person['city'] == 'New York', student))
print(c1)

[{'name': 'Alice', 'age': 30, 'city': 'New York'}, {'name': 'Charlie', 'age': 35, 'city': 'Chicago'}]

[{'name': 'Alice', 'age': 30, 'city': 'New York'}, {'name': 'David', 'age': 28, 'city': 'New York'}]